fastapi
uvicorn[standard]
pydantic-settings

zarr
numcodecs
xarray
netCDF4
dask
h5py==3.13.0
cfgrib
numpy

requests
ecmwf-opendata
herbie-data
copernicusmarine

jinja2
python-multipart
psutil
psycopg2-binary
watchdog==4.0.0
sse-starlette==2.1.0
earthaccess
ndpyramid
